<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="shanghaihead"> <!--首页文章-->
        <div id="primary" class="content-area">


            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">

                <article id="post-4" class="post-4 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Welcome to IEICE Shanghai</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p><img class="alignnone wp-image-250 size-full" src="picture/shanghai.jpg" alt="" width="991" height="278"  sizes="(max-width: 991px) 100vw, 991px" /></p>


                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-4 -->



            </main><!-- .site-main -->


        </div><!-- #primary -->
    </div>
    <div th:fragment="originage">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">




                <article id="post-117" class="post-117 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Organization</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=117"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p>History of the IEICE:</p>
                        <p>1917 Established as Telegraph and Telephone Society</p>
                        <p>1927 Telegraph and Telephone Society (established)</p>
                        <p>1937 Name changed to The Institute of Electrical Communication</p>
                        <p>1967 Changed name to The Institute of Electronics  and Communication Engineers</p>
                        <p>1987 Name changed to Institute of Electronics, Information and Communication Engineers</p>
                        <p>1995 Introduced Society System. Established by 4 societies and 1 group.</p>
                        <p>2012 The Institute of Electronics, Information and Communication Engineers (incorporated)</p>
                        <p>In 2014, the NOLTA Society was established as the fifth society.</p>
                        <p>2017 100th anniversary</p>
                        <p>Industry history</p>
                        <p>1836 Telegraph (Morse)</p>
                        <p>1876 Telephone (Bell)</p>
                        <p>1895 Wireless communication (Marconi)</p>
                        <p>1945 Computer (Neumann)</p>
                        <p>1948 Transistor (Shockley)</p>
                        <p>1995 Commercial Internet</p>
                        <p>Sharing next innovation</p>
                        <p>To transmit own opinions</p>
                        <p>Transmitting cutting-edge technology information to solve social issues and open up new fields</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-117 -->



            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="aboutus">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">




                <article id="post-38" class="post-38 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">About Us</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=38"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p><strong>The Institute of Electronics, Information and Communication Engineers (IEICE)</strong> is an academic society with mainly consisted of researchers and engineers.</p>
                        <p>Towards 100 years of growth</p>
                        <p>IEICE is a Japan's largest international academic society in the fields of electronics, information, and communications.</p>
                        <p>IEICE was officially launched as the Telegraph and Telephone Society in May 1917. In May 2017, we celebrated our 100th anniversary.</p>
                        <p>As an international academic society in electronic information communication and related fields, the Society aim to contribute to the formation of a healthy communication society and the maintenance and improvement of a rich global environment by promoting academic development, industrial development and human resource development.</p>
                        <p>The IEICE will contribute working on activities of combining cross-cutting elements from multiple technological fields and establish new technological fields, to pioneer new fields and cultivate new human resource development which creates a paradigm shift.</p>
                        <p><strong>IEICE Malaysian Sections activities (April 2017 ~ March 2019)</strong></p>
                        <p><strong>Conference/Symposium/Workshop<br />
                        </strong>• The inaugural IEICE Workshop on Cryptography and Information Security has been conducted successfully on 15 December 2017 at Multimedia University, Melaka. The workshop was jointly organized by IEICE Malaysia Section and Multimedia University. This workshop featured 6 invited talks focusing on the state-of-the-art and current research trend in Cryptography and Information Security, in particular the sharing on recent research topics such as cryptocurrency/bitcoin/blockchain technology, GPGPU, and searchable encryption.<br />
                            • The Invited Speakers:<br />
                            1. Dr. Muhammad Reza Z’aba, Researcher, Malaysian Institute of Microelectronic Systems (MIMOS)<br />
                            2. Dr. Geong Sen Poh, Researcher, Malaysian Institute of Microelectronic Systems (MIMOS)<br />
                            3. Dr. Jiqiang Lu, Scientist, Institute for Infocomm Research (I2R), Singapore<br />
                            4. Dr. Raphael Phan, Professor, Multimedia University (Cyberjaya)<br />
                            5. Dr. Wei-Chuen Yau, Associate Professor, Xiamen University Malaysia<br />
                            6. Mr. Wai Kong Lee, Universiti Tunku Abdul Rahman, Malaysia<br />
                            • The workshop received overwhelming response from a few institutions and organizations and was attended by about 40 researchers working in information security related areas. The main participations are from Malaysian Institute of Microelectronic Systems (MIMOS), CyberSecurity Malaysia, Universiti Putra Malaysia (UPM), Universiti Teknikal Malaysia (UTeM), International Islamic University Malaysia (IIUM), and Multimedia University (MMU).<br />
                            • Prof. Heng also briefed the participants on the establishment of IEICE Malaysia Section and shared the benefits of IEICE membership.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-38 -->



            </main><!-- .site-main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="activate">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                    <article id="post-75" class="post-75 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                        <header class="entry-header">

                            <h1 class="entry-title" itemprop="headline">Activities</h1>
                            <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=75"/>

                        </header>

                        <div class="entry-content" itemprop="articleBody">
                            <p><strong><em>Current Research Scope and Technology Focus </em></strong></p>
                            <p>The current research scope and technology focus cover but they are not limited to the following issues:</p>
                            <ul>
                                <li>Optical Wireless Technology</li>
                                <li>Intelligent Autonomous Control</li>
                                <li>Artificial Transportation Systems</li>
                                <li>Biology Information Systems</li>
                                <li>Renewable Energy Research</li>
                                <li>Wireless Convergence</li>
                                <li>New Generation Networks</li>
                                <li>Internet of Things</li>
                                <li>Cloud Computing</li>
                                <li>Big Data Processing</li>
                                <li>Information Security</li>
                            </ul>
                            <p>With the above selected scope and focus, we look forward to possible collaborations with all relevant IEICE Societies/Group including the recently established Nonlinear Theory and Its Applications Society (NOLTA).</p>
                        </div><!-- .entry-content -->

                        <footer class="entry-meta">


                        </footer><!-- .entry-meta -->


                    </article><!-- #post-75 -->

            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="meetings">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-177" class="post-177 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">IEICE Sections Meetings</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=177"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p>Here is a list of Sections Meetings IEICE General Conference:</p>
                        <ul>
                            <li><a href="http://www.ieice.org/eng/activities/international_sections/2015report.html" target="_blank" rel="noopener">All Sections Meeting 2015 IEICE General Conference </a></li>
                            <li><a href="http://www.ieice.org/eng/activities/international_sections/2016report.html" target="_blank" rel="noopener">All Sections Meeting 2016 IEICE General Conference</a></li>
                            <li><a href="https://www.ieice.org/eng/activities/international_sections/2017report.html" target="_blank" rel="noopener">All Sections Meeting 2017 IEICE General Conference</a></li>
                            <li><a href="https://www.ieice.org/eng/activities/international_sections/2019report.html" target="_blank" rel="noopener">All Sections Meeting 2019 IEICE General Conference</a></li>
                        </ul>
                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-177 -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div>
    <div th:fragment="publications">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-132" class="post-132 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Publications</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=132"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p>The Journal of the IEICE</p>
                        <p>A cutting-edge world to know from each special issues ~ You will See the Future you do not Know~. The journal is published 23,000 copies every month. We publish a special issue every month and delivered to members in an easy-to-read articles centering on the field of electronic information communications.</p>
                        <p>With the 100th anniversary of our foundation, we have completely digitized all of the journals since the first issue (the number of contents is about 20,000) and currently providing an online version. We have provided a journal application in order to support smartphones since December 2013. You can also browse through a trial browsing site. We hope you will enjoy our journal.</p>
                        <p>The IEICE Transactions</p>
                        <p>~ Knowing the cutting-edge technologies~</p>
                        <p>IEICE publishes four Japanese journals and seven English journals, of which five English journals have impact factors. Each journal has independent contents and contains papers that have been rigorously reviewed by prominent researchers. Papers are submitted from all over the world and 70% of submissions are from overseas. The annual publications in eleven journals is about 13,000 in FY2018. We introduced an Open Access Option System for English journals. Authors are allowed to publish free access paper for an additional fee from the January 2019 issue. We are looking forward to your submission.</p>
                        <p>Contents archive system</p>
                        <p><em>Know what shall be, Consider what has been</em></p>
                        <p><em>~</em>From the past to the future, for the next 100 years~</p>
                        <p>The IEICE is promoting the digitization of IEICE journals, Japanese transactions, English transactions, IEICE Technical Report, conference proceedings, International conference proceedings, etc. In addition, the IEICE operate an archive system that is intended to be used as a new research resource for researchers in the field of electronic information communications.</p>
                        <p>The contents archive system has been preserved from the journal published in 1917, and currently contains about 400,000 contents.</p>
                        <p>Challenge and Creation</p>
                        <p>Research Society</p>
                        <p>A place where people and technology meet</p>
                        <p>-A world tide is born-</p>
                        <p>The research society is a unique activity of the IEICE. Under five societies and one group, many researchers gather in each specialized field, and the number of research societies exceeds 500 per year and the number of presentations reaches 10,000. Active discussions are held on the theme of cutting-edge technology to encourage the emergence of new research. IEICE Technical Reports as research societies materials will be digitized from conventional booklets and will be fully digitized in FY2020. In addition, we support activities from presentation to submission through our original Research Society application system. We hope to your participate in the research society as a place to interact with researchers.</p>
                        <p>Challenge and Creation</p>
                        <p>Interact with researchers</p>
                        <p>Researchers and engineers with diverse values gather and create new values n a place of communication</p>
                        <p>Conference -A place to stimulate intellectual curiosity-</p>
                        <p>IEICE holds conferences every spring and autumn, where students, engineers and researchers from companies and universities gathers to discuss.</p>
                        <p>The conference hold thousands of general lectures and symposiums, as well as special lectures by prominent researchers. In addition, we hold an event with cutting-edge themes.</p>
                        <p>In the poster session, you can get a lot of advice from senior researchers. Career consultation meeting which is popular among students allows to interact with various companies. There is also a company exhibition as a place for creating industry-government-academia exchanges and technology trends and services, and holding presentations.</p>
                        <p>The conference hosted by the IEICE is one of the leading events in Japan, with approximately 5,000 participants in the Spring General Conference and approximately 3,000 participants in the Fall Society Conference. FIT hold jointly with the IPSJ. The FIT participants is approximately 1000.</p>
                        <p>We will start using the conference app from 2020 General Conference to improve the convenience of participants and make it easier to refer to the conference program.</p>


                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-132 -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="conferences">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-78" class="post-78 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">IEICE Global Conferences</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=78"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p>Society's Conferences</p>
                        <ul>
                            <li><a href="http://www.toyoag.co.jp/ieice/E_S_top/e_s_top.html" target="_blank" rel="noopener">IEICE Society Conference 2017</a></li>
                            <li><a href="http://www.toyoag.co.jp/ieice/E_G_top/e_g_top.html" target="_blank" rel="noopener">IEICE General Conference 2017</a></li>
                        </ul>
                        <p>International Conferences</p>
                        <ul>
                            <li><a href="http://www.ieice.org/ess/ESS/ESS_Conf.html" target="_blank" rel="noopener">Engineering Sciences Society(ESS)</a></li>
                            <li> <a href="http://www.ieice.org/cs/conf/calendar.html" target="_blank" rel="noopener">Communications Society(CS)</a></li>
                            <li><a href="http://www.ieice.org/es/eng/conferences/" target="_blank" rel="noopener">Electronics Society(E</a></li>
                            <li> <a href="http://www.ieice.org/iss/jpn/Conferences/InternationalConferences.html" target="_blank" rel="noopener">Information and System Society(ISS)</a></li>
                            <li><a href="http://www.en-hcg-ieice.org/hcg-calendar/" target="_blank" rel="noopener">Human Communication Group(HCG)</a></li>
                        </ul>
                        <p>Others</p>
                        <ul>
                            <li><a href="http://www.ieice.org/eng/event/technical_committee_conferences.html" target="_blank" rel="noopener">Technical Committee Conferences</a></li>
                            <li><a href="http://www.ieice.org/eng/event/international_conferences.html" target="_blank" rel="noopener">International Conferences</a></li>
                            <li><a href="http://iscover-p.ieice.org/cms/i-scover-promotion/" target="_blank" rel="noopener">I-Scover Park</a></li>
                            <li><a href="http://iscover-p.ieice.org/cms/" target="_blank" rel="noopener">I-Scover Park (Japanese)</a></li>
                        </ul>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-78 -->

            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="newUpdata">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-78" class="post-78 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">IEICE Global Conferences</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=78"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p>Our new Webside has establish。</p>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-78 -->

            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="gallery">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-66" class="post-66 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Gallery</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=66"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <figure id="attachment_72" style="max-width: 690px" class="wp-caption alignnone"><img class="wp-image-72 size-full" src="picture/2015-IEICE-all_sections_meeting-1.jpg" alt="2015 IEICE All IEICE Sections Meeting" width="690" height="400" sizes="(max-width: 690px) 100vw, 690px" /><figcaption class="wp-caption-text"><strong>2015 IEICE All Sections Meeting</strong></figcaption></figure>
                        <figure id="attachment_71" style="max-width: 4298px" class="wp-caption alignnone"><img class="wp-image-71 size-full" src="picture/2016-IEICE-all_sections_meeting-e1500369161329-1024x504.jpg" alt="2016 IEICE All Sections Meeting" width="4298" height="2116" sizes="(max-width: 4298px) 100vw, 4298px" /><figcaption class="wp-caption-text"><strong>2016 IEICE All Sections Meeting</strong></figcaption></figure>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-66 -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="Membership">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-49" class="post-49 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Membership</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=49"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p>Membership benefits</p>
                        <p>Subscription to the official magazine “Journal of the Institute of Electronics, Information and Communication Engineers”</p>
                        <p>Submission and presentation to journals and research societies</p>
                        <p>Submission and presentation at the conference</p>
                        <p>Special price purchase of books published by the Society</p>
                        <p>Preferential fees for conferences, workshops, research societies, tours, etc.</p>
                        <p>Interaction with people</p>
                        <p>Participation in conferences and workshops</p>
                        <p>Planning and operation of research societies and international conferences</p>
                        <p>Submit your paper to Transactions</p>
                        <p>Management of the Society as an officer</p>
                        <p>Editing and planning of Transactions and journals</p>
                        <p>Peer review</p>
                        <p>Attendance at workshops and conferences</p>
                        <p>Participation in academic events (lectures. etc.)</p>
                        <p>Presentation of papers at workshops and conferences</p>
                        <p>Participation in a variety of activities</p>
                        <p>Read papers</p>
                        <p>Subscription of journals and magazine articles</p>
                        <p>Contents Publishing System Archive Search</p>
                        <p>(common search)</p>
                        <p>E-Learning</p>
                        <p>Various awards</p>
                        <p>Grant of Fellow title</p>
                        <p>Membership Information</p>
                        <p>We accept applications for membership at any time. When you join, you can get the latest information on electronic information and communication fields. For details, please refer to our website.</p>
                        <p>&nbsp;</p>
                        <p>The IEICE support your research and development.</p>
                        <p>Membership in IEICE comes with a lot of benefits. Apart from being able to access members only resources on the our website, members can also participate in conferences and publish papers with IEICE . Please follow the links below for membership related matters:</p>
                        <ul>
                            <li><a href="https://ieicemalaysia.org/?page_id=52">Benefits of Membership</a></li>
                            <li><a href="https://ieicemalaysia.org/?page_id=55">Membership Dues</a></li>
                            <li><a href="http://www.ieice.org/eng/join_ieice/index.html" target="_blank" rel="noopener">Joining IEICE (Overseas Membership)</a></li>
                            <li><a href="https://cmweb1.ieice.org/noauth/?VID=user.user.nyuukai&amp;OP=base&amp;locale=ja" target="_blank" rel="noopener">Joining IEICE (Japanese Residents only)</a></li>
                            <li><a href="https://www.ieice.org/eng/membership/credit_card_form.html.utf8" target="_blank" rel="noopener">Click here for Membership Application Credit Card Form</a></li>
                            <li><a href="https://www.ieice.org/eng/membership/request_from_for_Journal_and_mailing_option.html.utf8" target="_blank" rel="noopener">Request form for mailing and Journal Options</a></li>
                        </ul>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-49 -->

            </main><!-- #main -->
        </div><!-- #primary -->
    </div>
    <div th:fragment="mdMembership">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-55" class="post-55 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Membership Dues</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=55"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <div id="ttl_mc"><strong>IEICE Membership Dues</strong></div>
                        <div class="txt0">
                            <div class="txt_dues"><span class="style01b">*IEICE Membership dues</span> :All IEICE Members can access online transactions(English/Japanese) of registered Society  [unit : JPY]</div>
                            <table class="ta1" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th width="20%">-</th>
                                    <th width="20%">MEMBER</th>
                                    <th width="20%">STUDENT</th>
                                    <th width="20%">MEMBER<br />
                                        (OMDP)</th>
                                    <th width="20%">STUDENT<br />
                                        (OMDP)</th>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#f5f5eb" height="40">Annual fee</td>
                                    <td align="center">7,000</td>
                                    <td align="center">2,000</td>
                                    <td align="center">5,000</td>
                                    <td align="center">1,000</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#f5f5eb" height="40">Additional Society<br />
                                        (/1Society)</td>
                                    <td align="center">3,500</td>
                                    <td align="center">2,000</td>
                                    <td align="center">3,000</td>
                                    <td align="center">1,500</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#f5f5eb" height="40"><a href="https://www.ieice.org/eng/membership/reduced_membership_fee_for_members_60_years_old_or_older.html.utf8" target="_blank" rel="noopener">Reduced<br />
                                        membership fee</a></td>
                                    <td align="center">5,000</td>
                                    <td align="center">-</td>
                                    <td align="center">4,000</td>
                                    <td align="center">-</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="txt_dues2">*IEICE membership year runs from 1 April through 31 March.<br />
                                *OMDP is for candidates from countries/areas in Asia (except Republic of Korea,Taiwan,China and Singapore),Africa, Central America and South America, etc.<br />
                                *When your classification is changed from a Student Member to a Member,your membership dues is reduced to half for the first two years (Except postdoctoral).</div>
                            <div class="txt_dues2">[ Option ]<br />
                                *<a href="http://www.journal.ieice.org/" target="_blank" rel="noopener">Journal(Japanese)</a> is available at 6,000 JPY per year.</div>
                            <div class="txt_dues3">Surface mail charge is included in membership fee. If you want rapid mailing service, please refer the following chart.</div>
                            <table class="ta1" style="height: 303px;" width="781" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th width="8%">Zone</th>
                                    <th width="68%">Areas</th>
                                    <th width="12%">Air mail</th>
                                    <th width="12%">SAL mail</th>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#f5f5eb">1st</td>
                                    <td align="center">Asia; Guam; Midway islands</td>
                                    <td align="center">5,600</td>
                                    <td align="center">3,200</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#f5f5eb">2st</td>
                                    <td align="center">Oceania; Near &amp; Middle East; North &amp; Central America; Europe</td>
                                    <td align="center">7,800</td>
                                    <td align="center">4,400</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#f5f5eb">3st</td>
                                    <td align="center">Africa; South America</td>
                                    <td align="center">11,000</td>
                                    <td align="center">5,600</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="style3" align="right">(per year)</p>
                        </div>
                        <p style="text-align: left;" align="right"><a href="https://www.ieice.org/eng/membership/credit_card_form.html.utf8" target="_blank" rel="noopener">Click here for Membership Application Credit Card Form</a></p>
                        <p style="text-align: left;" align="right"><a href="https://www.ieice.org/eng/membership/request_from_for_Journal_and_mailing_option.html.utf8" target="_blank" rel="noopener">Request form for mailing and Journal Options</a></p>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-55 -->

            </main><!-- #main -->
        </div><!-- #primary -->
    </div>
    <div th:fragment="bMembership">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-52" class="post-52 page type-page status-publish" itemscope="" itemtype="https://schema.org/Article">


                    <header class="entry-header">

                        <h1 class="entry-title" itemprop="headline">Benefits of Membership</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?page_id=52"/>

                    </header>

                    <div class="entry-content" itemprop="articleBody">

                        <p><strong>New useful function of our web page</strong></p>
                        <ul>
                            <li>The necessary procedures can be conducted on the Internet.
                                <ul>
                                    <li><a href="https://www.ieice.org/eng/membership/credit_card_form.html.utf8" target="_blank" rel="noopener">membership fee payment &gt;&gt;&gt;</a></li>
                                    <li><a href="http://www.ieice.org/eng/membership/change_contact_information.html" target="_blank" rel="noopener">change your address &gt;&gt;&gt;</a></li>
                                    <li><a href="https://www.ieice.org/eng/membership/renew_your_society.html.utf8" target="_blank" rel="noopener">change / add your Society &gt;&gt;&gt;</a></li>
                                    <li><a href="https://www.ieice.org/eng/membership/renew_your_membership_classification.html.utf8" target="_blank" rel="noopener">change membership classification. &gt;&gt;&gt;</a></li>
                                </ul>
                            </li>
                        </ul>
                        <p><span class="style06b"><strong>You can participate in various events:</strong></span></p>
                        <ul>
                            <li>You can <a style="font-size: 1rem;" href="http://www.ieice.org/eng/for_authors/index.html" target="_blank" rel="noopener">submit your papers</a><span style="font-size: 1rem;"> for publication in the appropriate Transactions</span></li>
                            <li>You can participate in <a style="font-size: 1rem;" href="http://www.ieice.org/eng/event/international_conferences.html" target="_blank" rel="noopener">international conferences</a><span style="font-size: 1rem;"> co-sponsored by the IEICE and major engineering societies of other countries. </span></li>
                            <li>You can register with one or more Societies and participate in Society-sponsored events.</li>
                            <li>You can participate in local events and student events of the IEICE.</li>
                            <li>You are entitled to apply to participate in voluntary-training courses sponsored by the Japan Accreditation Board for Engineering Education (JABEE) as a member. Furthermore, you can become a JABEE reviewer by participating in its reviews.</li>
                        </ul>
                        <p><strong>Y</strong><span class="style06b" style="font-size: 1rem;"><strong>ou can receive IEICE Publications:</strong></span></p>
                        <ul>
                            <li>You can read papers in the Transactions of your Society in electronic form.</li>
                            <li>You receive News Letters from your Society.  <img style="font-size: 1rem;" src="http://www.ieice.org/eng/image/shikaku_b.jpg" alt="" width="16" height="24" /></li>
                        </ul>
                        <p><span class="style06b" style="font-size: 1rem;"><strong>You can also benefit from miscellaneous member services. </strong></span></p>
                        <ul>
                            <li>You are eligible for various <a style="font-size: 1rem;" href="http://www.ieice.org/eng/about_ieice/awards_and_commendation.html" target="_blank" rel="noopener">IEICE awards.</a></li>
                            <li>You can buy various IEICE publications (books, textbooks, handbooks, etc.) at member discount rates.</li>
                            <li>You can get information about papers presented in <a style="font-size: 1rem;" href="http://www.ieice.org/eng/about_ieice/technical_committe_meeting.html" target="_blank" rel="noopener">Technical Group meetings</a><span style="font-size: 1rem;"> and </span><a style="font-size: 1rem;" href="http://www.toyoag.co.jp/ieice/E_G_top/e_g_top.html" target="_blank" rel="noopener">General Conferences</a><span style="font-size: 1rem;"> in the past. If you wish to make a copy of paper, you can do so by visiting the IEICE office or </span><a style="font-size: 1rem;" href="http://www.ieice.org/eng/copyright/notice_about_photocopying.html" target="_blank" rel="noopener">related facilities</a></li>
                            <li><a style="font-size: 1rem;" href="http://i-scover.ieice.org/iscover/?lang=en" target="_blank" rel="noopener">I-Scover</a><span style="font-size: 1rem;"> (IEICE Knowledge Discovery) is available free of charge for anyone. But,for a person who has an IEICE membership, login is recommended to utilize some of its </span><a style="font-size: 1rem;" href="http://i-scover.ieice.org/user/memberhelp/?lang=en" target="_blank" rel="noopener">privileges</a><span style="font-size: 1rem;">. </span></li>
                            <li>You can use the <a style="font-size: 1rem;" href="http://www.ieice.org/eng/membership/create_your_ieice_e-mail_account.html" target="_blank" rel="noopener">email</a><span style="font-size: 1rem;"> forwarding service with up to two forwarding addresses, and including a virus scan feature.</span></li>
                            <li>You can receive benefits under the shared benefit plan with other engineering societies (IEEE, the Institute of Electrical Engineers of Japan, the Information Processing Society of Japan, etc.)</li>
                            <li>You can benefit from a <a style="font-size: 1rem;" href="https://www.ieice.org/eng/membership/reduced_membership_fee_for_members_60_years_old_or_older.html.utf8" target="_blank" rel="noopener">discounted membership</a><span style="font-size: 1rem;"> subscription if you are 60 or more years old, and can get free membership if the sum of your age(70 years old or old), and years of your membership exceeds 100.</span></li>
                            <li>You can get member discount rates for hotels, car hire and other travel expenditure(In Japan) .</li>
                        </ul>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">


                    </footer><!-- .entry-meta -->


                </article><!-- #post-52 -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div>

    <div th:fragment="Newpublications">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" itemscope="itemscope" itemprop="mainContentOfPage">
                <article id="post-106" class="post-106 post type-post status-publish format-standard category-institute-news" itemscope="" itemtype="https://schema.org/Article">



                    <header class="entry-header">


                        <h1 class="entry-title" itemprop="headline">New publications</h1>
                        <link itemprop="mainEntityOfPage" href="https://ieicemalaysia.org/?p=106"/>



                        <div class="entry-meta">

                            <span class="byline"><span class="author vcard" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person"><span class="screen-reader-text">Author </span><a class="url fn n" href="https://ieicemalaysia.org/?author=1" rel="author" itemprop="url name">Dominic</a></span></span><span class="posted-on"><span class="screen-reader-text">Published on </span><a href="https://ieicemalaysia.org/?p=106" rel="bookmark"><time class="entry-date published" datetime="2017-07-19T12:27:36+00:00" itemprop="dateModified datePublished">July 19, 2017</time><time class="updated" datetime="2019-12-01T13:24:57+00:00">December 1, 2019</time></a></span><span class="comments-link"><a href="https://ieicemalaysia.org/?p=106#respond">Leave a comment<span class="screen-reader-text"> on New publications</span></a></span>
                        </div><!-- .entry-meta -->


                    </header><!-- .entry-header -->


                    <div class="entry-content" itemprop="articleBody">

                        <header class="entry-header">
                            <pre class="entry-title"><span style="font-size: 1rem;">The following publications have recently been added to I-Scover and can be used in searches.</span></pre>
                        </header>
                        <div class="entry-content">
                            <ul>
                                <li>The Journal of IEICE published in July 2017</li>
                                <li>IEICE Transactions (including Japanese Edition) published in July 2017</li>
                                <li>IEICE Online Journals published from June 2017 to July 2017</li>
                                <li>IEICE Technical Reports corresponding to Conferences/ Symposia/ Workshops/ Colloquia held in May 2017</li>
                                <li><a href="http://i-scover.ieice.org/iscover/search/hresult?id=EVENT_INTER_CONF_ISAP_2016&amp;lang=en">International Symposium on Antennas and Propagation 2016, Okinawa, Japan (ISAP 2016)</a></li>
                                <li><a href="http://i-scover.ieice.org/iscover/page/PUBLICATION_CORPORATE_JOURNAL_NTT_TECHREV_15_6?lang=en">NTT Technical Review Vol.15 No.6</a></li>
                            </ul>
                        </div>
                    </div><!-- .entry-content -->


                    <footer class="entry-meta">

                        <span class="posted-on"><span class="screen-reader-text">Published on </span><a href="https://ieicemalaysia.org/?p=106" rel="bookmark"><time class="entry-date published" datetime="2017-07-19T12:27:36+00:00" itemprop="datePublished">July 19, 2017</time><time class="updated" datetime="2019-12-01T13:24:57+00:00">December 1, 2019</time></a></span><span class="byline"><span class="author vcard" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person"><span class="screen-reader-text">Author </span><a class="url fn n" href="https://ieicemalaysia.org/?author=1" rel="author" itemprop="url name">Dominic</a></span></span><span class="cat-links" itemprop="articleSection"><span class="screen-reader-text">Categories </span><a href="https://ieicemalaysia.org/?cat=3" rel="category">Institute news</a></span>

                    </footer><!-- .entry-meta -->


                </article><!-- #post-106 -->

            </main><!-- #main -->
        </div><!-- #primary -->
    </div>
</body>
</html>